*.iml
.gradle
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.class
*.log
hs_err_pid*
.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
*.apk
*.ap_
*.dex
bin/
gen/
out/
.gradle/
.signing/
local.properties
proguard/
/*/build/
/*/local.properties
/*/out
/*/*/production
captures/
.navigation/
*.ipr
*.swp
*.iml
*.iws
.idea/shelf/
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/scopes/scope_settings.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/datasources.xml
.idea/dataSources.ids
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db