<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pacman.MentAlly">

    <uses-permission android:name="android.permission.INTERNET" />
<!--    <uses-permission android:name="android.permission." />-->
<!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
<!--    <uses-permission android:name="android.permission.WAKE_LOCK" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Ambient Noise Player-->
        <activity android:name=".ui.ambient.AmbientActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".ui.ambient.MediaPlaybackService">
            <intent-filter><action android:name="android.media.browse.MediaBrowserService"/></intent-filter>
        </service>

        <!-- Launch Activity -->
        <activity android:name=".ui.login.LoginActivity">

        </activity>

        <!-- Todo List -->
        <activity android:name=".ui.ToDoList.ToDoListActivity" /> <!-- ADHD Questionnaire -->
        <activity android:name=".ui.adhd.adhdActivity" />
        <activity android:name=".ui.adhd.adhdResultActivity" /> <!-- Anxiety Questionnaire -->
        <activity android:name=".ui.anxiety.anxietyActivity" />
        <activity android:name=".ui.anxiety.anxietyResultActivity" /> <!-- Bipolar Questionnaire -->
        <activity android:name=".ui.bipolar.bipolarActivity" />
        <activity android:name=".ui.bipolar.bipolarResultActivity" /> <!-- Depression Questionnaire -->
        <activity android:name=".ui.depression.depressionActivity" />
        <activity android:name=".ui.depression.depressionResultActivity" /> <!-- OCD Questionnaire -->
        <activity android:name=".ui.ocd.ocdActivity" />
        <activity android:name=".ui.ocd.ocdResultActivity" /> <!-- PTSD Questionnaire -->
        <activity android:name=".ui.ptsd.ptsd" />
        <activity android:name=".ui.ptsd.ptsdActivity" />
        <activity android:name=".ui.ptsd.ptsdResultActivity" /> <!-- Registration Page -->
        <activity
            android:name=".ui.register.RegisterActivity"
            android:label="@string/app_name" /> <!-- Main & Profile Page -->
        <activity
            android:name=".ui.menu.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.profile.ProfileActivity" /> <!-- Mood Page -->
        <activity android:name=".ui.Mood.MoodActivity" />
        <activity android:name=".ui.Mood.AddMoodActivity" /> <!-- Habit Page -->
        <activity android:name=".ui.habit.HabitTrackerActivity" />
        <activity android:name=".ui.habit.NewHabitActivity" /> <!-- Breathing Page -->
        <activity
            android:name=".ui.breathing.BreathingActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.breathing.BreathingExerciseActivity"
            android:label="@string/app_name" />
    </application>

</manifest>